vpc_id        = "vpc-xxxxxxxxxxxxxxxxx"
subnet_ids    = ["subnet-aaaaaaaaaaaaaaaaa", "subnet-bbbbbbbbbbbbbbbbb"]
allowed_cidrs = ["10.0.0.0/16"]

environment    = "dev"
instance_class = "db.t4g.micro"
