apiVersion: backstage.io/v1alpha1
kind: API
metadata:
  name: logistics-api
  title: Logistics API
  description: API de rastreamento logístico — transporte, entregas e status de cargas em tempo real
  tags:
    - rest
    - openapi
    - logistics
    - real-time
    - kong
  annotations:
    backstage.io/techdocs-ref: dir:./logistics-api
spec:
  type: openapi
  lifecycle: production
  owner: digital-products
  system: digital-platform
  definition: |
    openapi: "3.0.3"
    info:
      title: Logistics API
      version: "1.3.0"
      description: |
        API de rastreamento e gestão logística da Indorama.
        Fornece visibilidade em tempo real sobre cargas, entregas e
        performance de transportadoras.
      contact:
        name: Digital Products Team
        email: digital@indorama.com
    servers:
      - url: https://api.indorama.com/logistics/v1
        description: Produção
    paths:
      /shipments:
        get:
          summary: Listar remessas ativas
          tags: [Shipments]
          parameters:
            - name: status
              in: query
              schema:
                type: string
                enum: [in_transit, delivered, delayed, exception]
            - name: carrier_id
              in: query
              schema:
                type: string
          responses:
            "200":
              description: Lista de remessas
              content:
                application/json:
                  schema:
                    type: array
                    items:
                      $ref: "#/components/schemas/Shipment"
      /shipments/{trackingCode}:
        get:
          summary: Rastrear remessa por código
          tags: [Shipments]
          parameters:
            - name: trackingCode
              in: path
              required: true
              schema:
                type: string
          responses:
            "200":
              description: Status da remessa com histórico de eventos
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/ShipmentDetail"
            "404":
              description: Remessa não encontrada
      /carriers:
        get:
          summary: Listar transportadoras homologadas
          tags: [Carriers]
          responses:
            "200":
              description: Lista de transportadoras com KPIs
              content:
                application/json:
                  schema:
                    type: array
                    items:
                      $ref: "#/components/schemas/Carrier"
      /alerts:
        get:
          summary: Alertas de exceção logística
          tags: [Alerts]
          parameters:
            - name: severity
              in: query
              schema:
                type: string
                enum: [critical, high, medium, low]
          responses:
            "200":
              description: Lista de alertas ativos
              content:
                application/json:
                  schema:
                    type: array
                    items:
                      $ref: "#/components/schemas/Alert"
    components:
      schemas:
        Shipment:
          type: object
          properties:
            tracking_code:
              type: string
            carrier_id:
              type: string
            origin:
              type: string
            destination:
              type: string
            status:
              type: string
            estimated_delivery:
              type: string
              format: date-time
        ShipmentDetail:
          allOf:
            - $ref: "#/components/schemas/Shipment"
            - type: object
              properties:
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      location:
                        type: string
                      description:
                        type: string
        Carrier:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            on_time_rate:
              type: number
              format: float
            avg_transit_days:
              type: number
            active_shipments:
              type: integer
        Alert:
          type: object
          properties:
            id:
              type: string
            tracking_code:
              type: string
            severity:
              type: string
            description:
              type: string
            created_at:
              type: string
              format: date-time
      securitySchemes:
        bearerAuth:
          type: http
          scheme: bearer
    security:
      - bearerAuth: []
